  <!-- Main Header -->
  <include file="Public:header" title="校车系统"/>
  <!-- Main Side Menu -->
  <include file="Public:left_nav"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/index.php/Admin/Index.html"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">校车系统</li>
      </ol>
    </section>
    <section class="content">
    <img src="/Public/dist/img/scs/SchBusSys.jpg" width="100%">
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <include file="Public:footer"/>
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<include file="Public:footer_js"/>
</body>
</html>
