
  <!-- Main Header -->
  <include file="Public:header" title="APP首页设置" />
  <!--Main Sidebar-->
  <include file="Public:left_nav" />
  <style type="text/css">
    .terminalSumTabSwitch { font-size: 14px; height: 30px; }
    .terminalSumTabSwitch span { display: inline-block; padding: 2px 6px; cursor: pointer; border-radius: 3px 3px 3px 3px; }
  </style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/index.php/Admin/Index.html"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">APP首页设置</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs js_nav_tabs">
              <li class="active" type="1"><a href="#tab1" data-toggle="tab">教育培训</a></li>
              <li type="2"><a href="#tab2" data-toggle="tab">智慧金融</a></li>
              <li type="3"><a href="#tab3" data-toggle="tab">生活缴费</a></li>
              <li type="4"><a href="#tab4" data-toggle="tab">合作产品</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <nav class="navbar navbar-default">
                  <!-- container-fluid -->
                  <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="form-inline navbar-form navbar-left">
                      <!-- <div class="form-group">
                        <label for="title1">标题：</label>
                        <input id="title1" name="title" type="text" class="form-control input-sm" placeholder="请输入标题" />
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm query">
                          <i class="fa fa-search"></i> 查询
                        </button>
                      </div> -->
                      <div class="form-group">
                        <button type="button" class="btn btn-success btn-sm select_add">
                          <i class="fa fa-plus"></i> 添加
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- /.container-fluid -->
                </nav>

                <!-- table -->
                <div class="content-wrap">
                  <div class="row">
                    <div class="col-md-12">
                      <table id="table_data" class="js-custom-table-data">
                        <thead>
                          <tr>
                            <th data-field="is_self" data-align="center" data-formatter="indexFormatter" data-events="operateEvents" name="indexFormatter">操作</th>
                            <th data-align="center" data-sortable="false" data-field="title" name="">标题</th>
                            <th data-align="center" data-sortable="false" data-field="image" name="">图片</th>
                            <th data-align="center" data-sortable="false" data-field="url" name="">图片跳转地址</th>
                            <th data-align="center" data-sortable="false" data-field="mark" name="">描述</th>
                            <th data-align="center" data-sortable="false" data-field="sort" name="">排序</th>
                            <th data-align="center" data-sortable="false" data-field="is_effect" name="">是否有效</th>
                            <th data-align="center" data-sortable="false" data-field="is_top" name="">是否首页展示</th>
                            <th data-align="center" data-sortable="false" data-field="ios_v" name="">ios版本</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <include file="Public:footer" />

</div>
<!-- ./wrapper -->

<!-- 弹出层 -->
<div class="shade" style="position: relative!important" id="modalWindow">
  <div class="modal-body">
    <div class="container-fluid">
      <form class="form-horizontal" action="/index.php/Admin/Upload/upload_image.html" enctype="multipart/form-data" method="post" id="imageFileFrom" style="display:none;">
        <input type="file" id="img_files" name="img_files" value="" style="display:block" />
      </form>
      <form class="form-horizontal" action="" method="post" onsubmit="return false" id="formWindow">
        <input class="js_type" type="hidden" name="type" id="type" />
        <input class="primaryKey" type="hidden" name="id" id="id" />
        <div class="row">
          <div class="col-md-12">
            <div class="clearfix">
              <p class="note pull-right">注：<span class="xing">*</span>标记为必填项</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="title"><span class="xing">*</span> 标题：</label>
                  <div class="col-md-8">
                    <input type="text" placeholder="标题" id="title" name="title" class="form-control" />
                  </div>
                </div>
                <div class="form-group uploadFile">
                  <label class="col-md-3 control-label" for="img_files"><span class="xing">*</span> 上传图片：</label>
                  <div class="col-md-9">
                    <label class="upload_btn" for="img_files"><i class="fa fa-fw fa-upload"></i>点击上传</label>
                    <input type="hidden" id="image" name="image" />
                    <span class="hint">建议图片比例为 宽高2:1 (仅支持png/jpg/gif/jpeg格式)</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-9">
                    <div class="imgHide"><img id="img_m_tps" src="" alt="" width="88" /></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="url"><span class="xing">*</span> 链接：</label>
                  <div class="col-md-8">
                    <input type="text" placeholder="链接" id="url" name="url" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="mark">描述：</label>
                  <div class="col-md-8">
                    <input type="text" placeholder="描述" id="mark" name="mark" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="sort">排序：</label>
                  <div class="col-md-8">
                    <input type="text" placeholder="排序" id="sort" name="sort" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="is_effect"><span class="xing">*</span> 是否有效：</label>
                  <div class="col-md-8">
                    <select id="is_effect" name="is_effect" class="form-control">
                      <option value="0">无效</option>
                      <option value="1">有效</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="is_top"><span class="xing">*</span> 是否首页展示：</label>
                  <div class="col-md-8">
                    <select id="is_top" name="is_top" class="form-control">
                      <option value="0">不显示</option>
                      <option value="1">显示</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="ios_v">ios版本：</label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ios版本" id="ios_v" name="ios_v" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-success btn-sm save">
      <span class="glyphicon glyphicon-save"></span> 保存
    </button>
    <button type="button" class="btn btn-default btn-sm layui-layer-close">
      <span class="glyphicon glyphicon-remove"></span> 取消
    </button>
  </div>
</div>

<!-- 隐藏域 -->
<form id="searchForm" name="searchForm" action="" style="position: fixed; top: 0; right: 0; z-index: 99999;">
  <input type="hidden" id="title_search" name="title_search" value="" />
</form>

<include file="Public:footer_js" />

<script type="text/javascript" src="/Public/dist/js/jquery.form.js"></script>

<script type="text/javascript">
  // 自定义编辑表格中的操作内容
  function indexFormatter(value, row, index) {
    return [
      '<button type="button" class="btn btn-sm btn-primary edit" data-color="#39B3D7" data-opacity="0.95">',
      '<span class="glyphicon glyphicon-edit"></span> 编辑',
      '</button>',
      '<button type="button" class="btn btn-sm btn-danger removeAd" data-color="#39B3D7" data-opacity="0.95" style="padding:5px 11px 5px 12px">',
      '<span class="fa fa-trash"></span> 删除',
      '</button>'
    ].join('');
  }

  // H5上传文件
  $('#img_files').change(function() {
    var file = this.files[0];             // 获取input type=file文件所有数据，因为input type=file 可以多选，所以files是个数组
    var fr   = new FileReader();          // H5的新api，文件预览对象
    fr.onloadend = function(e) {          // 当转换完成之后fr.onloadend，执行函数，转换完的数据就是e
      var imgSrc = e.target.result;       // file数据中的图片信息就是e.target.result，这是图片预览地址
      $('#img_m_tps').attr('src',imgSrc); // 预览图片
      // 提交图片表单
      $('#imageFileFrom').ajaxSubmit(function(msg) {
        console.log(msg)
        // 成功返回的数据
        if (msg.status==1) {
          var imgSrc = msg.data.url;
          $('#image').val(imgSrc);
          $('#img_m_tps').attr('src',imgSrc);
          dialog.notify('文件上传成功');
        } else {
          alert('上传失败，请重新上传');
          $('#img_files').val('');
          $('#image').val('');
          $('#img_m_tps').attr('src','');
        };
      });
    }
    fr.readAsDataURL(file);               // 把file数据转为DataURL数据
  });

  // 表格数据
  var $table    = $('#table_data');
  var $g_params = {};
  // table 功能设置
  $table.bootstrapTable({
    toolbar:"#toolbar",                   // 工具栏
    toggle:"table",                       // 表格
    showToggle:true,                      // 是否显示(表格样式)切换
    showColumns:true,                     // 是否显示列(功能:[显示/隐藏]列)
    showExport:true,                      // 是否显示导出
    pagination:true,                      // 分页
    pageList:[10, 25, 50, 100],           // 每页行数
    ajax:"ajaxRequest",                   // 数据地址
    sidePagination:"server"               // 服务器
  });

  // 点击添加
  $('.select_add').click(function() {
    $('.primaryKey').val('0');
    $('#image').val('');
    $('#img_m_tps').attr('src','');
    edit(0);
  })

  // 隐藏域赋值
  function searchForm() {
    $("#title_search").val($("#title1").val());
  }

  // 自定义ajax请求
  function ajaxRequest(params) {
    $g_params = params;
    searchForm();
    // 需要的数据
    var url  = "/index.php/Admin/App/AppHomeset/query?type=1&" + $("#searchForm").serialize();
    queryList(url,params);
  }

  // 查询
  function search() {
    // form查询域赋值
    searchForm();
    var type = $('.js_nav_tabs .active').attr('type');
    var url  = "/index.php/Admin/App/AppHomeset/query?type="+ type + '&' + $("#searchForm").serialize();
    $g_params.data.page = parseInt($('.active .pagination li.active a').text());
    queryList(url,$g_params);
  }

  // tab选项卡
  $('.js_nav_tabs li').click(function() {
    var _thisType = $(this).attr('type');
    var url  = "/index.php/Admin/App/AppHomeset/query?type="+ _thisType + '&' + $("#searchForm").serialize();
    $g_params.data.page = parseInt($('.active .pagination li.active a').text());
    queryList(url,$g_params);
  })

  // 新增/编辑
  function edit(id) {
    var type = $('.js_nav_tabs .active').attr('type');
    var url  = g_config.host + '/index.php/Admin/App/AppHomeset/get?type=' + type;
    custom_edit(id,url,{id:id},'formWindow','modalWindow');
  }
  function setEditDataEx(data) {
    $("#image").val(data.image);
    $("#img_m_tps").attr('src',data.image);
    $("#id").val(data.id);
  };

  // 保存数据
  function save() {
    $('.js_type').val($('.js_nav_tabs .active').attr('type'));
    var url = g_config.host + '/index.php/Admin/App/AppHomeset/edit';
    fpost(url,'formWindow',btnCallbackRefreshTable1);
  }

  // 删除
  function del(id) {
    var type  = $('.js_nav_tabs .active').attr('type');
    var url   = g_config.host + "/index.php/Admin/App/AppHomeset/delete";
    var data  = {};
    data.id   = id;
    data.type = type;
    dialog.confirm('您确定要删除当前选项吗？',function(){dpost(url,data,btnCallbackRefreshTable1);});
  }
</script>
</body>
</html>