
  <!-- Main Header -->
  <include file="Public:header" title="作业管理" />
  <!--Main Sidebar-->
  <include file="Public:left_nav" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/index.php/Admin/Index.html"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">作业管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-3">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">班级列表</h3>
            </div>
            <div class="box-body">
              <div class="tree-search">
                <i class="tree-search-icon" id="searchNodeBtn"></i> 
                <input type="text" placeholder="搜索关键字" id="searchNodeVal" value="" class="empty fs-12" />
              </div>
              <div class="tree-scroll">
                <ul id="treeDemo" class="ztree js_ztree_height"></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">作业管理</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <nav class="navbar navbar-default">
                  <!-- container-fluid -->
                  <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="form-inline navbar-form navbar-left">
                      <!-- <div class="form-group">
                        <label for="user_id1">发布人：</label>
                        <input id="user_id1" type="text" class="form-control input-sm" placeholder="" />
                      </div> -->
                      <div class="form-group">
                        <label class="control-label" for="crs_id0001">学科：</label>
                        <input id="crs_id0001" type="text" class="form-control input-sm" placeholder="" />
                        <!-- <select id="crs_id1" class="form-control input-sm crs_id1"></select> -->
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm query">
                          <i class="fa fa-search"></i> 查询
                        </button>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-success btn-sm select_add">
                          <i class="fa fa-plus"></i> 添加
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- /.container-fluid -->
                </nav>

                <!-- table -->
                <div class="content-wrap">
                  <div class="row">
                    <div class="col-md-12">
                      <div id="toolbar">
                        <div id="remove" class="btn btn-danger btn-sm" style="margin-top:12px">
                          <i class="fa fa-trash"></i> 删除
                        </div>
                      </div>
                      <table id="table_data" class="js-custom-table-data">
                        <thead>
                          <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-align="center" data-formatter="operateFormatter" data-events="detailsOperateEvents" name="operateFormatter">操作</th>
                            <th data-align="center" data-formatter="viewFormatter" data-events="detailsOperateEvents" name="viewFormatter">操作</th>
                            <!-- <th data-align="center" data-sortable="false" data-field="user_id" name="">发布人</th> -->
                            <th data-align="center" data-sortable="true" data-field="g_id" name="">年级</th>
                            <th data-align="center" data-sortable="true" data-field="c_id" name="">班级</th>
                            <th data-align="center" data-sortable="false" data-field="crs_id" name="">学科</th>
                            <th data-align="center" data-sortable="false" data-field="name" name="">作业名称</th>
                            <th data-align="center" data-sortable="false" data-visible="0" data-field="work_content" name="">作业内容</th>
                            <th data-align="center" data-sortable="true" data-field="create_time" name="">布置时间</th>
                            <th data-align="center" data-sortable="true" data-field="finish_time" name="">需完成时间</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <include file="Public:footer" />

</div>
<!-- ./wrapper -->

<!-- 编辑 弹出层 -->
<div class="shade" style="" id="modalWindow">
  <div class="modal-body">
    <div class="container-fluid">
      <form class="form-horizontal" action="" method="post" onsubmit="return false" id="formWindow">
        <input class="primaryKey" type="hidden" name="h_id" id="h_id" />
        <input type="hidden" class="prov_id_hide" id="prov_id" name="prov_id" value="" placeholder="省" />
        <input type="hidden" class="city_id_hide" id="city_id" name="city_id" value="" placeholder="市" />
        <input type="hidden" class="county_id_hide" id="county_id" name="county_id" value="" placeholder="区县" />
        <input type="hidden" class="s_id_hide" id="s_id" name="s_id" value="" placeholder="学校" />
        <input type="hidden" class="a_id_hide" id="a_id" name="a_id" value="" placeholder="校区" />
        <input type="hidden" class="g_id_hide" id="g_id" name="g_id" value="" placeholder="年级" />
        <input type="hidden" class="c_id_hide" id="c_id" name="c_id" value="" placeholder="班级" />
        <div class="row">
          <div class="col-md-12">
            <div class="clearfix">
              <p class="note pull-right">注：<span class="xing">*</span>标记为必填项</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name"><span class="xing">*</span> 作业名称：</label>
                  <div class="col-md-8">
                    <input type="text" id="name" name="name" class="form-control" placeholder="作业名称" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="work_content"><span class="xing">*</span> 作业内容：</label>
                  <div class="col-md-8">
                    <textarea id="work_content" name="work_content" class="form-control" placeholder="最多输入250个字..."></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="finish_time"><span class="xing">*</span> 需完成时间：</label>
                  <div class="col-md-8">
                    <input type="text" id="finish_time" name="finish_time" class="form-control dataTime" placeholder="需完成时间" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="crs_id"><span class="xing">*</span> 学科：</label>
                  <div class="col-md-8">
                    <select id="crs_id" name="crs_id" class="form-control crs_id"></select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-success btn-sm save">
      <span class="glyphicon glyphicon-save"></span> 保存
    </button>
    <button type="button" class="btn btn-default btn-sm layui-layer-close">
      <span class="glyphicon glyphicon-remove"></span> 取消
    </button>
  </div>
</div>

<!-- 详情 弹出层 -->
<div class="shade" style="" id="modalWindowDetail">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="form-horizontal" id="formWindowDetail">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label" for="name">作业名称：</label>
                  <div class="col-md-9">
                    <input type="text" id="name1" name="name" class="form-control" placeholder="作业名称" readonly />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="crs_id">学科：</label>
                  <div class="col-md-9">
                    <input type="text" id="crs_id1" name="crs_id" class="form-control" placeholder="学科" readonly />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="finish_time">需完成时间：</label>
                  <div class="col-md-9">
                    <input type="text" id="finish_time1" name="finish_time" class="form-control dataTime" placeholder="需完成时间" readonly />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="work_content">作业内容：</label>
                  <div class="col-md-9">
                    <textarea id="work_content1" name="work_content" class="form-control" placeholder="最多输入250个字..." readonly></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="">语音播放：</label>
                  <div class="col-md-2">
                    <p class="form-control js_audioTxt" style="border: none; padding: 7px 0; color: red; display: none">无语音播放</p>
                    <button name="" class="form-control btn btn-sm btn-primary js_audio" style="display: none"><span class="fa fa-caret-square-o-right"></span> 点击播放</button>
                    <input type="hidden" id="audioUrl" name="" value="" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="img">作业图片：</label>
                  <div class="col-md-9">
                    <p class="form-control js_imgTxt" style="border: none; padding: 7px 0; color: red; display: none">无作业图片</p>
                    <img id="img" name="img" src="" alt="" style="width: 100%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 隐藏域 -->
<form id="searchForm" name="searchForm" action="" style="position: fixed; top: 0; right: 0; z-index: 99999;">
  <input type="hidden" class="prov_id_hide" name="prov_id" value="" placeholder="省" />
  <input type="hidden" class="city_id_hide" name="city_id" value="" placeholder="市" />
  <input type="hidden" class="county_id_hide" name="county_id" value="" placeholder="区县" />
  <input type="hidden" class="s_id_hide" name="s_id" value="" placeholder="学校" />
  <input type="hidden" class="a_id_hide" name="a_id" value="" placeholder="校区" />
  <input type="hidden" class="g_id_hide" name="g_id" value="" placeholder="年级" />
  <input type="hidden" class="c_id_hide" name="c_id" value="" placeholder="班级" />
  <input type="hidden" class="stu_id_hide" name="stu_id" value="" placeholder="学生" />
  <input type="hidden" id="user_id_hide" name="user_id" value="" />
  <input type="hidden" id="crs_id_hide" name="crs_id" value="" />
</form>

<include file="Public:footer_js" />

<!-- 文件树搜索 -->
<script type="text/javascript" src="/Public/dist/js/jquery.ztree.exhide.min.js"></script>
<!-- 音频播放 -->
<script type="text/javascript" src="/Public/dist/js/voice-2.0.js"></script>

<script type="text/javascript">
// 根据登陆角色权限 展示相应按钮
var user_type = "{$user_type}"; // 用户类型 1学校管理员 2系统用户 3老师 4家长 5省委 6市委 7县委
if (user_type == '1' || user_type == '4') {
  $('.select_add, #remove, th[data-checkbox="true"], th[data-formatter="operateFormatter"]').remove();
};
if (user_type == '2' || user_type == '5' || user_type == '6' || user_type == '7' || user_type == '3') {
  $('th[data-formatter="viewFormatter"]').remove();
};

//---------------- 音频 -----------------//
window.detailsOperateEvents = {
  // 点击编辑
  'click .edit': function (e, value, row, index) {
    for(var key in row) {
      console.log(key+':'+row[key]);
    }
    var key = Object.keys(row)[0]; // 主键第一个值
    edit(row[key]);
  },
  // 点击详情
  'click .view': function (e, value, row, index) {
    for(var key in row) {
      console.log(key+':'+row[key]);
    }
    var key = Object.keys(row)[0]; // 主键第一个值
    detailGet(row[key]);
    $.get('/index.php/Admin/Parent/Homework/detailGet?h_id='+row.h_id, function(data) {
      if (data.data.img == '') {
        $('.js_imgTxt').css('display', 'block');
        $('#img').attr('src', '');
      } else {
        $('.js_imgTxt').css('display', 'none');
        $('#img').attr('src', data.data.img);
      };
      if (data.data.audio == '') {
        $('.js_audio').css('display', 'none');
        $('.js_audioTxt').css('display', 'block');
      } else {
        $('.js_audio').css('display', 'block');
        $('.js_audioTxt').css('display', 'none');
        $('#audioUrl').val(data.data.audio);
      };
    });
  }
}
// 音频播放
RongIMLib.RongIMVoice.init();
$('.js_audio').click(function() {
  RongIMLib.RongIMVoice.play($('#audioUrl').val());
  // if ($(this).hasClass('active')) {
  //   $(this).removeClass('active');
  //   RongIMLib.RongIMVoice.stop();
  // } else {
  //   $(this).addClass('active');
  //   RongIMLib.RongIMVoice.play($('#audioUrl').val());
  // };
});
//-------------- 音频 end ---------------//

$(function() {
  // 表格数据
  var $table    = $('#table_data');
  var $g_params = {};
  // table 功能设置
  $table.bootstrapTable({
    toolbar:"#toolbar",                   // 工具栏
    toggle:"table",                       // 表格
    showToggle:true,                      // 是否显示(表格样式)切换
    showColumns:true,                     // 是否显示列(功能:[显示/隐藏]列)
    showExport:true,                      // 是否显示导出
    pagination:true,                      // 分页
    pageList:[10, 25, 50, 100],           // 每页行数
    ajax:"ajaxRequest",                   // 数据地址
    sidePagination:"server"               // 服务器
  });

  // 日期
  function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var seperator2 = ":";
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
    return currentdate;
  }
  $.datetimepicker.setLocale('ch'); // 设置中文
  $('.dataTime').datetimepicker({
    format:"Y-m-d H:i:s", // 格式化日期 时间
    timepicker:true,      // 时间选项
    step:5,               // 分钟步数
    yearStart:2000,       // 设置最小年份
    yearEnd:2050,         // 设置最大年份
    todayButton:true      // 选择今天按钮
  });
  $('#finish_time').focus(function() {
    $(this).datetimepicker({
      onShow:function(ct) {
        this.setOptions({
          minDate:getNowFormatDate()
        })
      }
    });
  })

  // 文件树
  var setting = {
    check: {
      enable: false,
      chkStyle: "radio",
      radioType: "all" // 在整棵树范围内当做一个分组
    },
    view: {
      dblClickExpand: true
    },
    data: {
      simpleData: {
        enable: true
      }
    },
    callback: {
      beforeExpand: beforeExpand,
      onExpand: onExpand,
      onCollapse: onCollapse,
      onClick: zTreeOnClick
    }
  };

  // 保持展开单一路径 start
  var curExpandNode = null;
  function beforeExpand(treeId, treeNode) {
    var pNode     = curExpandNode ? curExpandNode.getParentNode():null;
    var treeNodeP = treeNode.parentTId ? treeNode.getParentNode():null;
    var zTree     = $.fn.zTree.getZTreeObj("treeDemo");
    for(var i=0, l=!treeNodeP ? 0:treeNodeP.children.length; i<l; i++ ) {
      if (treeNode !== treeNodeP.children[i]) {
        zTree.expandNode(treeNodeP.children[i], false);
      }
    }
    while (pNode) {
      if (pNode === treeNode) {
        break;
      }
      pNode = pNode.getParentNode();
    }
    if (!pNode) {
      singlePath(treeNode);
    }
  }
  function singlePath(newNode) {
    if (newNode === curExpandNode) return;

    var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
      rootNodes, tmpRoot, tmpTId, i, j, n;

    if (!curExpandNode) {
      tmpRoot = newNode;
      while (tmpRoot) {
        tmpTId = tmpRoot.tId;
        tmpRoot = tmpRoot.getParentNode();
      }
      rootNodes = zTree.getNodes();
      for (i=0, j=rootNodes.length; i<j; i++) {
        n = rootNodes[i];
        if (n.tId != tmpTId) {
          zTree.expandNode(n, false);
        }
      }
    } else if (curExpandNode && curExpandNode.open) {
      if (newNode.parentTId === curExpandNode.parentTId) {
        zTree.expandNode(curExpandNode, false);
      } else {
        var newParents = [];
        while (newNode) {
          newNode = newNode.getParentNode();
          if (newNode === curExpandNode) {
            newParents = null;
            break;
          } else if (newNode) {
            newParents.push(newNode);
          }
        }
        if (newParents!=null) {
          var oldNode = curExpandNode;
          var oldParents = [];
          while (oldNode) {
            oldNode = oldNode.getParentNode();
            if (oldNode) {
                oldParents.push(oldNode);
            }
          }
          if (newParents.length>0) {
            zTree.expandNode(oldParents[Math.abs(oldParents.length-newParents.length)-1], false);
          } else {
            zTree.expandNode(oldParents[oldParents.length-1], false);
          }
        }
      }
    }
    curExpandNode = newNode;
  }
  function onExpand(event, treeId, treeNode) {
    curExpandNode = treeNode;
    leftTreeScroll();
  }
  function onCollapse(event, treeId, treeNode) {
    curExpandNode = treeNode;
    leftTreeScroll();
  }

  // 请求树
  $.ajax({
    type: "get",
    url: "/index.php/Admin/index/get_tree?type=class",
    dataType : 'json',
    success: function(msg) {
      var groupNodes = msg.data;
      $.fn.zTree.init($("#treeDemo"), setting, groupNodes);
    },
    error: function(msg) {
      dialog.error("请求服务器异常！");
    }
  });
  // 保持展开单一路径 end

  var bIfCheckClass = false;
  function zTreeOnClick(event, treeId, treeNode) {
    var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
    var nodes   = treeObj.getSelectedNodes();
    for (var i=0, l=nodes.length; i < l; i++) {
      treeObj.checkNode(nodes[i], true, true);
    }
    if (user_type == '1') {
      // 点击选择
      if(treeNode.typeFlag == 'school') {
        $(".s_id_hide").val(treeNode.id); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'area') {
        $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.id); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'grade') {
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.id); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'class') {
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.id); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'student') {
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    if (user_type == '2' || user_type == '5') {
      // 点击选择
      if(treeNode.typeFlag == 'prov') {
        $(".prov_id_hide").val(treeNode.id); // 省
        $(".city_id_hide").val(''); // 市
        $(".county_id_hide").val(''); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'city') {
        $(".prov_id_hide").val(treeNode.getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.id); // 市
        $(".county_id_hide").val(''); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'county') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.id); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'school') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.id); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'area') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.id); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'grade') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.id); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'class') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.id); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'student') {
        $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    if (user_type == '6') {
      // 点击选择
      if(treeNode.typeFlag == 'city') {
        $(".city_id_hide").val(treeNode.id); // 市
        $(".county_id_hide").val(''); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'county') {
        $(".city_id_hide").val(treeNode.getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.id); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'school') {
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.id); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'area') {
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.id); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'grade') {
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.id); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'class') {
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.id); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'student') {
        $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    if (user_type == '7') {
      // 点击选择
      if(treeNode.typeFlag == 'county') {
        $(".county_id_hide").val(treeNode.id); // 区县
        $(".s_id_hide").val(''); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'school') {
        $(".county_id_hide").val(treeNode.getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.id); // 学校
        $(".a_id_hide").val(''); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'area') {
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.id); // 校区
        $(".g_id_hide").val(''); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'grade') {
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.id); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'class') {
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.id); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'student') {
        $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 区县
        $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
        $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
        $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    if (user_type == '3') {
      // 点击选择
      if(treeNode.typeFlag == 'grade') {
        $(".g_id_hide").val(treeNode.id); // 年级
        $(".c_id_hide").val(''); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'class') {
        $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.id); // 班级
        $(".stu_id_hide").val(''); // 学生
      };
      if(treeNode.typeFlag == 'student') {
        $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
        $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    if (user_type == '4') {
      // 点击选择
      if(treeNode.typeFlag == 'student') {
        $(".stu_id_hide").val(treeNode.id); // 学生
      };
    };
    search();
    // 是否选择了班级
    if ($(".c_id_hide").val() != '') {
      bIfCheckClass = true;
    } else {
      bIfCheckClass = false;
    };
  }
  // 点击添加
  $('.select_add').click(function() {
    if ($(".c_id_hide").val() != '' && bIfCheckClass) {
      $('.primaryKey').val('0');
      edit(0);
      var g_id = $('#searchForm .g_id_hide').val();
      initSelectClass('crs_id',g_config.host+'/index.php/Admin/Parent/Homework/getList?g_id=' + g_id,0,{type:'course'},true); // 学科
    } else {
      dialog.error('请选择班级！');
    };
  })
})

// 隐藏域赋值
function searchForm() {
  $("#user_id_hide").val($("#user_id1").val());
  $("#crs_id_hide").val($("#crs_id0001").val());
}

// 自定义ajax请求
function ajaxRequest(params) {
  $g_params = params;
  searchForm();
  // 需要的数据
  var url = "/index.php/Admin/Parent/Homework/query?" + $("#searchForm").serialize();
  queryList(url,params);
}

// 查询
function search() {
  // form查询域赋值
  searchForm();
  var url = "/index.php/Admin/Parent/Homework/query?" + $("#searchForm").serialize();
  $g_params.data.page = parseInt($('.active .pagination li.active a').text());
  queryList(url,$g_params);
}

// 新增/编辑
function edit(id) {
  var url = g_config.host + '/index.php/Admin/Parent/Homework/get';
  custom_edit(id,url,{h_id:id},'formWindow','modalWindow',function(res) {
    var g_id   = res.data.g_id;
    var crs_id = res.data.crs_id;
    initSelectClass('crs_id',g_config.host+'/index.php/Admin/Parent/Homework/getList?g_id=' + g_id,0,{type:'course'},false,'undefined',function(){
      $('#crs_id').val(crs_id);
    }); // 学科
  });
}

// 详情
function detailGet(id) {
  var url = g_config.host + '/index.php/Admin/Parent/Homework/detailGet?h_id='+id;
  custom_viewDetails(id,url,{id:id},'formWindowDetail','modalWindowDetail');
}

// 保存数据
function save() {
  var url = g_config.host + '/index.php/Admin/Parent/Homework/edit';
  fpost(url,'formWindow',btnCallbackRefreshTable1);
}

// 删除
function del() {
  var url    = g_config.host + "/index.php/Admin/Parent/Homework/del";
  var ids    = getIdSelections($('.js-custom-table-data'),'h_id');
  var strIds = ids.join(',');
  var data   = {};
  data.id    = strIds;

  if (ids.length == 0) {
    dialog.notify('请先选择要删除的记录');
    return;
  } else {
    dialog.confirm('您确定要删除当前选项吗？',function(){dpost(url,data,btnCallbackRefreshTable1);});
  }
}

// 左侧文件树搜索
$('#searchNodeBtn').click(function() {
  searchNodeAll('treeDemo',$('#searchNodeVal'));
  leftTreeScroll();
});
$('#searchNodeVal').on('input', function() {
  searchNodeAll('treeDemo',$('#searchNodeVal'));
  leftTreeScroll();
});
</script>
</body>
</html>
