
  <!-- Main Header -->
  <include file="Public:header" title="请假管理"/>
  <!-- Main Side Menu -->
  <include file="Public:left_nav"/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/index.php/Admin/Index.html"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">请假管理</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
       <div class="col-md-3">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">校区列表</h3>
            </div>
            <div class="box-body">
              <div class="tree-search">
                <i class="tree-search-icon" id="searchNodeBtn"></i> 
                <input type="text" placeholder="搜索关键字" id="searchNodeVal" value="" class="empty fs-12" />
              </div>
              <div class="tree-scroll">
                <ul id="treeDemo" class="ztree js_ztree_height"></ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-border">
              <div class="form-inline navbar-form navbar-left">
                <div class="form-group">
                  <label for="leave_type1">请假类型：</label>
                  <select id="leave_type1" class="form-control">
                      
                  </select>
                </div>
                <!-- <div class="form-group">
                  <label for="stu_name1">学生姓名：</label>
                  <input id="stu_name1" type="text" class="form-control" placeholder="姓名" />
                </div> -->
                <div class="form-group">
                  <label for="">请假时间：</label>
                  <input id="sdatetime1" class="form-control dataTime" placeholder="开始时间"  type="text" value="">
                   至
                  <input id="edatetime1" class="form-control dataTime" placeholder="结束时间" type="text" value="">
                </div>
                <if condition="($user_type eq 4)">  
                <div class="form-group">
                  <button type="button" class="btn btn-success select_add" data-color="#39B3D7" data-opacity="0.95">
                    <span class="glyphicon glyphicon-plus"></span>  添加
                  </button>
                </div>
                </if>
                <div class="form-group">
                  <button type="button" class="btn btn-primary query" data-color="#39B3D7" data-opacity="0.95">
                    <span class="glyphicon glyphicon-search"></span> 查询
                  </button>
                </div>
                <if condition="($user_type eq 3) OR ($user_type eq 2) OR ($user_type eq 5) OR ($user_type eq 6) OR ($user_type eq 7)">  
                <div class="form-group">
                  <button type="button" class="btn btn-success approve" data-color="#39B3D7" data-opacity="0.95">
                    <span class="glyphicon glyphicon-ok"></span>  批准
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-danger reverse" data-color="#39B3D7" data-opacity="0.95">
                    <span class="glyphicon glyphicon-remove"></span>  驳回
                  </button>
                </div>
                </if>
                
              </div> 
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div id="toolbar">
                    <div id="remove" class="btn btn-danger" style=" margin:0 0 10px 0;">
                      <span class="glyphicon glyphicon-remove"></span>删除
                    </div>
                  </div>
                  <table id="leavemanage_table" class="js-custom-table-data">
                    <thead>  
                      <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="edit" data-align="center" data-formatter="editFormatter" data-events="operateEvents" name="editFormatter">操作</th>
                        <th data-field="stu_name" data-sortable="true" data-align="center">学生姓名</th>
                        <th data-field="stu_no" data-sortable="true" data-align="center">学号</th>
                        <th data-field="c_id" data-sortable="true" data-align="center">班级</th>
                        <th data-field="leave_type" data-sortable="true" data-align="center">请假类型</th>
                        <th data-field="leave_memo" data-sortable="true" data-align="center">请假事由</th>
                        <th data-field="start_time" data-sortable="true" data-align="center">开始时间</th>
                        <th data-field="end_time" data-sortable="true" data-align="center">销假时间</th>
                        <th data-field="status" data-sortable="true" data-align="center">状态</th>
                        <th data-field="t_id" data-sortable="true" data-align="center">审批教师</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <include file="Public:footer"/>
</div>
<!-- ./wrapper -->
<form id="searchForm" name="searchForm" action="">
    <input type="hidden" class="prov_id_hide" name="prov_id" value="" placeholder="省/直辖市" />
    <input type="hidden" class="city_id_hide" name="city_id" value="" placeholder="市" />
    <input type="hidden" class="county_id_hide" name="county_id" value="" placeholder="区/县" />
    <input type="hidden" class="s_id_hide" name="s_id" value="" placeholder="学校" />
    <input type="hidden" class="a_id_hide" name="a_id" value="" placeholder="校区" />
    <input type="hidden" class="g_id_hide" name="g_id" value="" placeholder="年级" />
    <input type="hidden" class="c_id_hide" name="c_id" value="" placeholder="班级" />
    <input type="hidden" class="stu_id_hide" name="stu_id" value="" placeholder="学生" />
    <input type="hidden" name="leave_type" id="leave_type3" value="" />
    <!-- <input type="hidden" name="stu_name" id="stu_name" value="" /> -->
    <input type="hidden" name="sdatetime" id="sdatetime" value="" />
    <input type="hidden" name="edatetime" id="edatetime" value="" />
</form>

<!--add-start -->
<div class="" style="display:none;" id="modalWindow">
  <div class="modal-body">
    <div class="container-fluid">
      <form class="form-horizontal"  action="" method="post" onsubmit="return false" id="formWindow">
        <input type="hidden" name="id" id="id" class="primaryKey">
        <input type="hidden" name="c_id" id="c_id">
        <div class="row">
            <div class="col-md-12">
              <div class="clearfix">
                <p class="note pull-right">注：<span class="xing">*</span>标记为必填项</p>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="stu_id"><span class="xing">*</span>学生姓名：</label>
                  <div class="col-md-9">
                    <select id="stu_id" name="stu_id" class="form-control" >
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="t_id"><span class="xing">*</span>教师姓名：</label>
                  <div class="col-md-9">
                    <select id="t_id" name="t_id" class="form-control" disabled="disabled">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="leave_memo"><span class="xing">*</span>请假事由：</label>
                  <div class="col-md-9">
                    <input type="text" placeholder="请输入请假事由" id="leave_memo" name="leave_memo" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="leave_type"><span class="xing">*</span>请假类型：</label>
                  <div class="col-md-9">
                    <select id="leave_type" name="leave_type" class="form-control">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="start_time"><span class="xing">*</span>开始时间：</label>
                  <div class="col-md-9">
                    <input id="start_time" name="start_time" class="form-control dataTime1" type="text" value="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="end_time"><span class="xing">*</span>销假时间：</label>
                  <div class="col-md-9">
                    <input id="end_time" name="end_time" class="form-control dataTime1" type="text" value="">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </form>

    </div>
  </div>
  <div class="modal-footer" style="text-align:center;">
    <button type="button" class="btn btn-success save">
        <span class="glyphicon glyphicon-save"></span> 保存
    </button>
     <button type="button" class="btn btn-default layui-layer-close">
        <span class="glyphicon glyphicon-remove"></span> 取消
    </button>
  </div>
</div>
<!--add-end-->

<!-- REQUIRED JS SCRIPTS -->
<include file="Public:footer_js"/>
<!-- 文件树搜索 -->
<script type="text/javascript" src="/Public/dist/js/jquery.ztree.exhide.min.js"></script>
<script>
$(function() {
  // 表格数据
  var $table = $('#leavemanage_table');
 
  var $g_params = {};
  // table 功能设置
  $table.bootstrapTable({
    toolbar:"#toolbar",
    toggle:"table",                       // 表格
    showToggle:true,                      // 是否显示(表格样式)切换
    showColumns:true,                     // 是否显示列(功能:[显示/隐藏]列)
    showExport:true,                      // 是否显示导出
    pagination:true,                      // 分页
    pageList:[10, 25, 50, 100],           // 每页行数
    ajax:"ajaxRequest",                   // 数据地址
    sidePagination:"server",              // 服务器
  });
  var user_type = "{$user_type}";
  if(user_type!=4){
     $('#leavemanage_table').bootstrapTable('hideColumn', "edit");
  }
});

// 文件树
var setting = {
  check: {
    enable: false,
    chkStyle: "radio",
    radioType: "all" // 在整棵树范围内当做一个分组
  },
  view: {
    dblClickExpand: true
  },
  data: {
    simpleData: {
      enable: true
    }
  },
  callback: {
    beforeExpand: beforeExpand,
    onExpand: onExpand,
    onCollapse: onCollapse,
    onClick: zTreeOnClick
  }
};

// 保持展开单一路径 start
var curExpandNode = null;
function beforeExpand(treeId, treeNode) {
  var pNode     = curExpandNode ? curExpandNode.getParentNode():null;
  var treeNodeP = treeNode.parentTId ? treeNode.getParentNode():null;
  var zTree     = $.fn.zTree.getZTreeObj("treeDemo");
  for(var i=0, l=!treeNodeP ? 0:treeNodeP.children.length; i<l; i++ ) {
    if (treeNode !== treeNodeP.children[i]) {
      zTree.expandNode(treeNodeP.children[i], false);
    }
  }
  while (pNode) {
    if (pNode === treeNode) {
      break;
    }
    pNode = pNode.getParentNode();
  }
  if (!pNode) {
    singlePath(treeNode);
  }
}
function singlePath(newNode) {
  if (newNode === curExpandNode) return;

  var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
    rootNodes, tmpRoot, tmpTId, i, j, n;

  if (!curExpandNode) {
    tmpRoot = newNode;
    while (tmpRoot) {
      tmpTId = tmpRoot.tId;
      tmpRoot = tmpRoot.getParentNode();
    }
    rootNodes = zTree.getNodes();
    for (i=0, j=rootNodes.length; i<j; i++) {
      n = rootNodes[i];
      if (n.tId != tmpTId) {
        zTree.expandNode(n, false);
      }
    }
  } else if (curExpandNode && curExpandNode.open) {
    if (newNode.parentTId === curExpandNode.parentTId) {
      zTree.expandNode(curExpandNode, false);
    } else {
      var newParents = [];
      while (newNode) {
        newNode = newNode.getParentNode();
        if (newNode === curExpandNode) {
          newParents = null;
          break;
        } else if (newNode) {
          newParents.push(newNode);
        }
      }
      if (newParents!=null) {
        var oldNode = curExpandNode;
        var oldParents = [];
        while (oldNode) {
          oldNode = oldNode.getParentNode();
          if (oldNode) {
              oldParents.push(oldNode);
          }
        }
        if (newParents.length>0) {
          zTree.expandNode(oldParents[Math.abs(oldParents.length-newParents.length)-1], false);
        } else {
          zTree.expandNode(oldParents[oldParents.length-1], false);
        }
      }
    }
  }
  curExpandNode = newNode;
}
function onExpand(event, treeId, treeNode) {
  curExpandNode = treeNode;
  leftTreeScroll();
}
function onCollapse(event, treeId, treeNode) {
  curExpandNode = treeNode;
  leftTreeScroll();
}
// 保持展开单一路径 end

// 请求树
$.ajax({
  type: "get",
  url: "/index.php/Admin/index/get_tree",
  dataType : 'json',
  success: function(msg) {
    var groupNodes = msg.data;
    $.fn.zTree.init($("#treeDemo"), setting, groupNodes);
  },
  error: function(msg) {
    dialog.error("请求服务器异常！");
  }
});
var user_type = "{$user_type}"; // 用户类型 1学校管理员 2系统用户 3老师 4家长 5省/直辖市教委 6 市教委 7 区/县教委  
//点击
function zTreeOnClick(event, treeId, treeNode) {
  var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
  var nodes   = treeObj.getSelectedNodes();
  for (var i=0, l=nodes.length; i < l; i++) {
    treeObj.checkNode(nodes[i], true, true);
  }
  if (user_type == '1') {
    // 点击选择
    if(treeNode.typeFlag == 'school') {
      $(".s_id_hide").val(treeNode.id); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'area') {
      $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.id); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'grade') {
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.id); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'class') {
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.id); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'student') {
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
      $(".stu_id_hide").val(treeNode.id); // 学生
      
    };
  };
  if (user_type == '2' || user_type == '5') {
    // 点击选择
    if(treeNode.typeFlag == 'prov') {
      $(".prov_id_hide").val(treeNode.id); // 省/直辖市
      $(".city_id_hide").val(''); // 市
      $(".county_id_hide").val(''); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'city') {
      $(".prov_id_hide").val(treeNode.getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.id); // 市
      $(".county_id_hide").val(''); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'county') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.id); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'school') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.id); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'area') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.id); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'grade') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.id); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'class') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.id); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'student') {
      $(".prov_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 省/直辖市
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
      $(".stu_id_hide").val(treeNode.id); // 学生
      
    };
  };
  if (user_type == '6') {
    // 点击选择
    if(treeNode.typeFlag == 'city') {
      $(".city_id_hide").val(treeNode.id); // 市
      $(".county_id_hide").val(''); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'county') {
      $(".city_id_hide").val(treeNode.getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.id); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'school') {
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.id); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'area') {
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.id); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'grade') {
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.id); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'class') {
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.id); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'student') {
      $(".city_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().getParentNode().id); // 市
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
      $(".stu_id_hide").val(treeNode.id); // 学生
      
    };
  };
  if (user_type == '7') {
    // 点击选择
    if(treeNode.typeFlag == 'county') {
      $(".county_id_hide").val(treeNode.id); // 区/县
      $(".s_id_hide").val(''); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'school') {
      $(".county_id_hide").val(treeNode.getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.id); // 学校
      $(".a_id_hide").val(''); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'area') {
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.id); // 校区
      $(".g_id_hide").val(''); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'grade') {
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.id); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'class') {
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.id); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'student') {
      $(".county_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 区/县
      $(".s_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().getParentNode().id); // 学校
      $(".a_id_hide").val(treeNode.getParentNode().getParentNode().getParentNode().id); // 校区
      $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
      $(".stu_id_hide").val(treeNode.id); // 学生
    };
  };
  if (user_type == '3') {
    // 点击选择
    if(treeNode.typeFlag == 'grade') {
      $(".g_id_hide").val(treeNode.id); // 年级
      $(".c_id_hide").val(''); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'class') {
      $(".g_id_hide").val(treeNode.getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.id); // 班级
      $(".stu_id_hide").val(''); // 学生
    };
    if(treeNode.typeFlag == 'student') {
      $(".g_id_hide").val(treeNode.getParentNode().getParentNode().id); // 年级
      $(".c_id_hide").val(treeNode.getParentNode().id); // 班级
      $(".stu_id_hide").val(treeNode.id); // 学生
    };
  };
  if (user_type == '4') { 
    // 点击选择
    if(treeNode.typeFlag == 'student') {
      $(".stu_id_hide").val(treeNode.id); // 学生
    };
  }; 
  search();
}
 
//------------ 初始化下拉框数据 -----------//
function initSelectStu(id,url,select_id,params,all,title) {
  //ajax请求数据
  $.ajax({
    url:url,
    data:params,
    type:'get',
    cache:false,
    dataType:'json',
    success:function(res) {
      if (res.status == 1 ) {
        $("#"+id).empty();
        if(typeof(title) == 'undefined') title = '请选择'
        if(all) $("#"+id).append('<option value="">'+title+'</option>');
        $.each(res.data, function(key, value){
          $("#"+id).append('<option value="'+key+'">'+value+'</option>');
        });
      } else {
        dialog.error(res.info);
      }
    }
  });
}
// 隐藏域赋值
function searchForm() {
  $("#leave_type3").val($("#leave_type1").val());
  // $("#stu_name").val($("#stu_name1").val());
  $("#sdatetime").val($("#sdatetime1").val());
  $("#edatetime").val($("#edatetime1").val());
}
// 自定义ajax请求
function ajaxRequest(params) {
  $g_params = params;
   searchForm()
  // 需要的数据
  var url = "/index.php/Admin/Atnd/LeaveManage/query?" + $("#searchForm").serialize();
  queryList(url,params);
}

// 搜索
function search(){
  searchForm()
  // 需要的数据
  var url = "/index.php/Admin/Atnd/LeaveManage/query?" + $("#searchForm").serialize();
  $g_params.data.page = parseInt($('.active .pagination li.active a').text());
  queryList(url,$g_params);
}

//请求Select下拉数据
$(function() {
  initSelect('leave_type',g_config.host+'/index.php/Admin/Common/get_list',0,{type:'leave'},true);   
  initSelect('leave_type1',g_config.host+'/index.php/Admin/Common/get_list',0,{type:'leave'},true);  
});
$("#t_id").attr("disabled","disabled");
//切换学生 加载教师
$("#stu_id").change(function() {
  $("#t_id").removeAttr("disabled"); 
  $('option:selected', this).each(function() {
    if (this.value != "null"&&this.value != "") {
      initSelect('t_id',g_config.host+'/index.php/Admin/Atnd/LeaveManage/get_list',0,{type:'teacher',stu_id: this.value});  
    }else{
      $("#t_id").attr("disabled","disabled");
      $("#t_id").val("");
    }
  });
});  

// 点击添加
$('.select_add').click(function() {
  // if ($(".stu_id_hide").val() != '' ) {
    $('.primaryKey').val('0');
    edit(0);
    $("#t_id").removeAttr("disabled"); 
    $("#t_id").empty();
  // } else {
  //   dialog.error('请选择学生！');
  // };
})

//新增/编辑
function edit(id){
  if(id>0){
    initSelectStu('stu_id',g_config.host+'/index.php/Admin/Atnd/LeaveManage/get_list',0,{type:'student'},true);
    initSelect('t_id',g_config.host+'/index.php/Admin/Common/get_list',0,{type:'teacher'},true); 
    $("#t_id").removeAttr("disabled"); 
    var url = '/index.php/Admin/Atnd/LeaveManage/get';
    $.ajax({
       type: "get",
       url: url,
       data:{id:id},
       dataType : 'json', 
       success: function(msg){
          $("#t_id").find("option[value = '"+msg.data.t_id+"']").attr("selected","selected");
       },
       error: function(msg){
         dialog.error("请求服务器异常！");
       }
    })
    $("#t_id").attr("disabled","disabled");

  }else{
    initSelectStu('stu_id',g_config.host+'/index.php/Admin/Atnd/LeaveManage/get_list',0,{type:'student'},true); 
  }
  custom_edit(id,url,{id:id},'formWindow','modalWindow');
}

//保存数据
function save() {
  $("#t_id").removeAttr("disabled"); 
  var url = g_config.host + '/index.php/Admin/Atnd/LeaveManage/edit';
  fpost(url,'formWindow',btnCallbackRefreshTable1);
}

//删除
function del(){
  var url = g_config.host + "/index.php/Admin/Atnd/LeaveManage/del";
  var ids    = getIdSelections($('.js-custom-table-data'),'id');
  var strIds = ids.join(',');
  var data   = {};
  data.id  = strIds;
  if (ids.length == 0) {
    dialog.notify('请先选择要删除的记录');
    return;
  } else {
    dialog.confirm('您确定要删除当前选项吗？',function(){dpost(url,data,btnCallbackRefreshTable1);});
  }
}
//审核状态处理
function approval(status_i){
  var status_title = "批准";
  if (status_i==2) {
    status_title = "驳回";
  };
  var url = g_config.host + "/index.php/Admin/Atnd/LeaveManage/enable";
  var ids = getIdSelections($('.js-custom-table-data'),'id');
  var strIds = ids.join(',');
  var data   = {};
  data.id = strIds;
  data.status=status_i;
  if (ids.length == 0) {
    dialog.notify('请先选择要处理的记录');
    return;
  } 
  else {
    dialog.confirm('您确定要'+status_title+'吗？',function(){dpost(url,data,btnCallbackRefreshTable1);});
  }
}
// 批准
$('.approve').click(function() {
  approval(1);
});

// 驳回
$('.reverse').click(function() {
  approval(2);
});

// 日期
$.datetimepicker.setLocale('ch'); 
// 日期 时间
$('.dataTime').datetimepicker({
  // lang:"ch",            // 语言选择中文
  format:"Y-m-d H:i", // 格式化日期 时间
  timepicker:true,      // 时间选项
  step:5,               // 分钟步数
  yearStart:2000,       // 设置最小年份
  yearEnd:2050,         // 设置最大年份
  todayButton:true      // 选择今天按钮
});

$('.dataTime1').datetimepicker({
  // lang:"ch",            // 语言选择中文
  format:"Y-m-d H:i", // 格式化日期 时间
  timepicker:true,      // 时间选项
  step:5,               // 分钟步数
  yearStart:2000,       // 设置最小年份
  yearEnd:2050,         // 设置最大年份
  todayButton:true      // 选择今天按钮
});
$('#sdatetime1').datetimepicker({
  onShow:function(ct) {
    this.setOptions({
      maxDate:jQuery('#edatetime1').val()?jQuery('#edatetime1').val():false
    })
  },
  timepicker:true
});
jQuery('#edatetime1').datetimepicker({
  onShow:function(ct) {
    this.setOptions({
      minDate:jQuery('#sdatetime1').val()?jQuery('#sdatetime1').val():false
    })
  },
  timepicker:true
}); 


$('#start_time').datetimepicker({
  onShow:function(ct) {
    this.setOptions({
      maxDate:jQuery('#end_time').val()?jQuery('#end_time').val():false
    })
  },
  timepicker:true
});
jQuery('#end_time').datetimepicker({
  onShow:function(ct) {
    this.setOptions({
      minDate:jQuery('#start_time').val()?jQuery('#start_time').val():false
    })
  },
  timepicker:true
});   
            
// 左侧文件树搜索
$('#searchNodeBtn').click(function() {
  searchNodeAll('treeDemo',$('#searchNodeVal'));
  leftTreeScroll();
});
$('#searchNodeVal').on('input', function() {
  searchNodeAll('treeDemo',$('#searchNodeVal'));
  leftTreeScroll();
});
</script>
</body>
</html>
